*::before,
*::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body,
html {
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Roboto';
  padding: 0;
  color: black;
}

body a,
html a {
  text-decoration: none;
  color: black;
}

body a:hover,
html a:hover {
  text-decoration: none;
}

body p,
html p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  line-height: 1.2em;
}

body #arrow {
  position: fixed;
  right: 3%;
  bottom: 3%;
  -webkit-transform: rotate(180deg) translateY(-150%);
          transform: rotate(180deg) translateY(-150%);
  cursor: pointer;
  z-index: 90000000;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

body #arrow.active {
  -webkit-transform: rotate(180deg) translateY(0);
          transform: rotate(180deg) translateY(0);
}

body .section {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  overflow: hidden;
}

body .section .section-title h2 {
  font-family: Montserrat;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.75);
  margin: 0;
  font-weight: 400;
}

body .section .section-title .separator {
  margin: auto;
  width: 50%;
  height: 5px;
  background-color: #da7f2a;
}

body .section__content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section--about > span {
  font-size: 1.5em;
}

body .section--about p {
  font-weight: 400;
}

body .section--about .vector {
  z-index: -10;
  position: absolute;
  top: 40%;
  left: 0px;
  width: 40%;
}

body .section--about .about__image {
  width: 20%;
  padding: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .section--about .about__image > img {
  width: 100%;
  height: auto;
}

body .section--about .about__text {
  width: 70%;
  color: black;
  margin-left: 50px;
}

body .section--about .about__text p {
  font-family: Montserrat;
  font-size: 16px;
}

body .section--about .about__text .emoji {
  font-size: 1.2em;
}

@media only screen and (max-width: 576px) {
  body .section--about .vector {
    top: 50%;
  }
  body .section--about .about__image {
    width: 50%;
    margin: 0%;
  }
  body .section--about .about__text {
    margin: 0px;
    width: 100%;
  }
  body .section--about .about__text p {
    font-size: 10px;
  }
}

body .section--skillset .vector {
  z-index: -10;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
}

body .section--skillset__actions {
  margin-bottom: 10px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .section--skillset__actions .skill {
  position: relative;
  width: 200px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-align: center;
  cursor: pointer;
}

body .section--skillset__actions .skill span {
  width: 150%;
  position: absolute;
  top: -10%;
  left: -25%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  font-family: Montserrat;
  font-size: 10px;
  text-align: center;
}

body .section--skillset__actions .skill > img {
  width: 100%;
  height: auto;
}

body .section--skillset__actions .skill:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .section--skillset__actions .skill:hover span {
  opacity: 1;
}

body .section--skillset__actions .skill.active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body .section--skillset__actions .skill.active span {
  opacity: 1;
}

body .section--skillset__cards {
  z-index: 10;
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media only screen and (max-width: 576px) {
  body .section--skillset__actions {
    width: 80%;
  }
  body .section--skillset__actions .skill span {
    font-size: 8px;
    top: -20%;
  }
  body .section--skillset__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .section--projects .section__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 576px) {
  body .section {
    margin-top: 30px;
    width: 100%;
    min-height: 0px;
  }
  body .section .section-title h2 {
    font-size: 24px;
  }
}

.skillcard {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 24%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 200px;
  padding: 20px;
  background-color: white;
}

.skillcard__title {
  font-family: Roboto Slab;
  font-size: 20px;
  color: #6a6a6a;
  text-align: center;
}

.skillcard__content {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.skillcard__label {
  width: 12%;
  position: absolute;
  top: 20%;
  left: -4%;
}

@media only screen and (max-width: 576px) {
  .skillcard {
    width: 20%;
    padding: 8px;
    margin: 4px;
    height: auto;
  }
  .skillcard__title {
    font-size: 11px;
  }
  .skillcard__content {
    font-size: 10px;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10vh;
}

.project .project__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.project .project__wrapper .project__info {
  width: 40%;
  text-align: left;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.project .project__wrapper .project__info.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project .project__wrapper .project__info .emoji {
  font-size: 1.3em;
}

.project .project__wrapper .project__info h2 {
  font-family: Lato;
  font-size: 28px;
}

.project .project__wrapper .project__info h2:first-letter {
  font-size: 200%;
}

.project .project__wrapper .project__info p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

.project .project__wrapper .project__info .project__button {
  position: relative;
  margin: auto;
  background-color: #da7f2a;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: #da7f2a;
  font-family: Montserrat;
  font-size: 14px;
}

.project .project__wrapper .project__info .project__button:hover {
  background-color: #da7f2a;
}

.project .project__wrapper .project__image {
  width: 40%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.project .project__wrapper .project__image.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project .project__wrapper .project__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project .project__wrapper .project__image img {
  width: 100%;
  height: auto;
}

.project .project__wrapper--inversed .project__info {
  width: 40%;
  text-align: right;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.project .project__wrapper--inversed .project__info.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project .project__wrapper--inversed .project__info .emoji {
  font-size: 1.3em;
}

.project .project__wrapper--inversed .project__info h2 {
  font-family: Lato;
  font-size: 28px;
}

.project .project__wrapper--inversed .project__info h2:first-letter {
  font-size: 200%;
}

.project .project__wrapper--inversed .project__info p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

.project .project__wrapper--inversed .project__image {
  width: 40%;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.project .project__wrapper--inversed .project__image.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project .project__wrapper--inversed .project__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project .project__wrapper--inversed .project__image img {
  width: 100%;
  height: auto;
}

.project .project__wrapper .vector {
  z-index: -10;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 23%;
}

.project .project__wrapper .vector--inversed {
  left: 70%;
}

@media only screen and (max-width: 576px) {
  .project .project__wrapper {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project .project__wrapper .project__image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project .project__wrapper .project__image img {
    width: 80%;
    height: auto;
  }
  .project .project__wrapper .project__info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  .project .project__wrapper .project__info p {
    font-size: 12px;
  }
  .project .project__wrapper .project__info h2 {
    font-size: 20px;
  }
  .project .project__wrapper .project__info .project__button {
    padding: 4px 8px;
    font-size: 12px;
  }
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 1%;
}

.footer .footer__vector {
  width: 70%;
  height: auto;
  z-index: -10;
  position: absolute;
  left: 70px;
}

.footer__wrapper {
  width: 60%;
}

.footer .contact {
  cursor: pointer;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contact p {
  font-size: 16px;
  margin: 10px;
  color: #CBCBCB;
}

.footer .contact .media_icon {
  width: 30px;
}

.footer span {
  position: absolute;
  bottom: 3%;
  right: 7%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 20%;
    padding-bottom: 5%;
  }
  .footer .footer__vector {
    width: 100%;
    left: 0px;
    bottom: 0%;
  }
  .footer__wrapper {
    width: 70%;
  }
  .footer .contact {
    margin-top: 3px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .contact p {
    font-size: 10px;
    color: #CBCBCB;
    margin: 3px;
  }
  .footer .contact .media_icon {
    width: 20px;
  }
  .footer span {
    bottom: 3%;
    right: 7%;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.topNavbar {
  z-index: 10000;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
}

.topNavbar.active {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#4ca9b1), to(#00ffb8));
  background: linear-gradient(90deg, #4ca9b1 0%, #00ffb8 100%);
}

.topNavbar__actions {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.topNavbar__actions .topNavbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNavbar__actions .topNavbar__item img {
  width: 20px;
  margin-right: 3px;
}

.topNavbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin: 0px;
}

@media only screen and (max-width: 576px) {
  .topNavbar__link {
    font-size: 12px;
  }
  .topNavbar__actions {
    width: 100%;
  }
}

.sideNavbar {
  z-index: 10000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0.0;
  background: -webkit-gradient(linear, left bottom, left top, from(#4ca9b1), to(#00ffb8));
  background: linear-gradient(0deg, #4ca9b1 0%, #00ffb8 100%);
}

@media only screen and (max-width: 576px) {
  .sideNavbar {
    display: none;
  }
}

.sideNavbar.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.sideNavbar__actions {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.sideNavbar__actions .sideNavbar__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sideNavbar__actions .sideNavbar__item img {
  width: 40%;
}

.sideNavbar__link {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 12px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin: 0px;
}

.banner {
  height: 100vh;
  background: url("../app/images/Vector.svg") no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.banner h1 {
  font-family: 'Montserrat Alternates';
  font-size: 56px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0;
}

.banner #banner__animated-text {
  color: #01112D;
  -webkit-animation: disappear 5s infinite;
          animation: disappear 5s infinite;
  -webkit-animation-delay: -2500ms;
          animation-delay: -2500ms;
}

@-webkit-keyframes disappear {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes disappear {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.banner__content {
  width: 100vw;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__content .banner__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner #banner__image {
  width: 60%;
  height: 100%;
}

.banner #banner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transform: translateX(-2vw);
          transform: translateX(-2vw);
}

.banner #banner__title div {
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  .banner #banner__title {
    height: 40vh;
  }
  .banner #banner__title div {
    white-space: normal;
  }
}

.banner #banner__title h1 {
  font-size: 48px;
}

@media only screen and (max-width: 576px) {
  .banner #banner__title h1 {
    font-size: 40px;
  }
}

.banner #banner__down-arrow {
  width: 30px;
}

.banner #banner__down-arrow > img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .banner {
    margin-bottom: 50px;
  }
  .banner #banner__image {
    width: 80%;
    height: 100%;
  }
}
/*# sourceMappingURL=index.css.map */