.ml4 {
	position: relative;
	font-weight: 400;
	font-family: Montserrat Alternates;
	font-size: 8vw;
	white-space: nowrap;
	padding-left: 20%;
	color: white;
}
.ml4 .letters {
	position: absolute;
	opacity: 0;
}
