.banner {
	height: 95vh;
	background: url('../app/images/Vector.svg') no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// padding-top: 70px;
	margin-bottom: 100px;

	h1 {
		font-family: 'Montserrat Alternates';
		font-size: 56px;
		font-weight: 400;
		color: white;
		text-align: center;
		margin: 0;
	}

	#banner__animated-text {
		font-weight: 700;

		color: $mydarkblue;
		// text-shadow: 3px 0 rgba(0, 0, 0, 0.17), 0 3px rgba(0, 0, 0, 0.122), 1px 0 rgba(0, 0, 0, 0.493), 0 -1px rgba(0, 0, 0, 0.486);
		// animation: disappear 5s infinite;
		// animation-delay: -2500ms;
		transition: all 2s ease-in-out;
		height: 4em;
	}

	// @keyframes disappear {

	//     0%,
	//     100% {
	//         opacity: 1;
	//     }

	//     50% {
	//         opacity: 0;
	//     }
	// }

	&__content {
		// padding: 20px;
		width: 100vw;
		margin: auto;
		margin-top: 150px;
		width: 100%;
		display: flex;
		// height: 50%;
		// overflow: hidden;
		justify-content: space-between;

		.banner__image {
			display: flex;
			justify-content: center;
			// margin-top: 50px;
		}

		.banner__row {
			margin: 0px;
		}
	}

	#banner__image {
		// flex-grow: 1;
		width: 280px;
		height: 100%;
	}

	#banner__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		transform: translateX(-2vw);
		margin-bottom: 80px;

		h1 {
			font-size: 48px;
		}

		@media only screen and (max-width: 576px) {
			h1 {
				font-size: 40px;
				width: 70%;
				margin: 0 auto;
			}
		}
	}

	#banner__down-arrow {
		width: 30px;

		> img {
			width: 100%;
			height: auto;
		}
	}

	@media only screen and (min-width: 577px) and (max-width: 992px) {
		.banner__row {
			margin: 0px;
		}

		#banner__image {
			// flex-grow: 1;
			width: 350px;
			height: 100%;
		}
	}

	@media only screen and (min-width: 993px) {
		.banner__row {
			width: 90%;
			margin: 0px;

			.banner__title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				#banner__title {
					margin-bottom: 0px;
				}
			}
		}

		#banner__image {
			// flex-grow: 1;
			width: 350px;
			height: 100%;
		}
	}
}
