.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 1%;


    .footer__vector {
        width: 70%;
        height: auto;
        z-index: -10;
        position: absolute;
        left: 70px;
    }


    &__wrapper {
        width: 60%;
    }

    .contact {
        cursor: pointer;
        margin-top: 10px;
        display: flex;

        p {
            font-size: 16px;
            margin: 10px;
            color: #CBCBCB;
        }

        .media_icon {
            width: 30px;
        }
    }

    span {
        position: absolute;
        bottom: 3%;
        right: 7%;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8)
    }
}