.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    // overflow: hidden;
    padding-top: 10%;
    padding-bottom: 1%;


    .footer__vector {
        width: 70%;
        height: auto;
        z-index: -10;
        position: absolute;
        left: 70px;
    }


    &__wrapper {
        width: 60%;
    }

    .contact {
        cursor: pointer;
        margin-top: 10px;
        display: flex;

        p {
            font-size: 14px;
            margin: 10px;
            color: #CBCBCB;
        }

        .media_icon {
            width: 30px;
        }
    }

    span {
        position: absolute;
        bottom: 3%;
        right: 7%;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.8)
    }

    @media only screen and (max-width: 576px) {
        padding-top: 20%;
        padding-bottom: 5%;

        .footer__vector {
            width: 100%;
            left: 0px;
            bottom: 0%;
        }

        &__wrapper {
            width: 70%;
        }

        .contact {
            margin-top: 3px;
            align-items: center;

            p {
                font-size: 10px;
                color: #CBCBCB;
                margin: 3px;
            }

            .media_icon {
                width: 20px;
            }
        }

        span {
            bottom: 3%;
            right: 7%;
            font-size: 8px;
            color: rgba(0, 0, 0, 0.8)
        }
    }

    @media only screen and (min-width: 577px) and (max-width: 992px) {
        padding-top: 5%;
        padding-bottom: 5%;

        .footer__vector {
            width: 600px;
            left: 0px;
            bottom: 0%;
            height: 260px;
        }

        &__wrapper {
            width: 70%;
        }

        .contact {
            margin-top: 6px;
            align-items: center;

            p {
                font-size: 12px;
                color: #CBCBCB;
                margin: 4px;
            }

            .media_icon {
                width: 20px;
            }
        }

        span {
            bottom: 3%;
            right: 7%;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.8)
        }
    }

    @media only screen and (min-width: 993px) {
        overflow: hidden;
    }
}