.section--projects {
    .section__content {
        flex-direction: column;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;

    @media only screen and (min-width: 993px) {
        margin-bottom: 150px;
    }


    .project__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;


        .project__info {
            transform: translateX(-30%);
            opacity: 0;
            width: 40%;
            text-align: left;
            transition: all 1s ease-in;

            &.active {
                transform: translateX(0);
                opacity: 1;
            }

            .emoji {
                font-size: 1.3em;
            }

            h2 {
                font-family: Montserrat;
                font-size: 28px;
            }

            h2:first-letter {
                font-size: 200%;
            }

            p {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 14px;
            }

            .project__button {
                position: relative;
                // top: -70px;
                margin: auto;
                background-color: $mygold;
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
                color: black;
                border-radius: 10px;
                padding: 8px 16px;
                background-color: #f4a965;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                // transition: all 5s ease;

                &:hover {
                    background-color: $mygold;
                }
            }
        }

        .project__image {
            transform: translateX(30%);
            opacity: 0;
            width: 40%;

            transition: all 1s ease-in-out;

            &.active {
                transform: translateX(0);
                opacity: 1;
            }


            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 80%;
                height: auto;
            }
        }

        &--inversed {



            .project__info {
                transform: translateX(30%);
                opacity: 0;
                width: 40%;
                text-align: right;
                transition: all 1s ease-in;


                &.active {
                    transform: translateX(0);
                    opacity: 1;
                }

                .emoji {
                    font-size: 1.3em;
                }

                h2 {
                    font-family: Montserrat;
                    font-size: 28px;
                }

                h2:first-letter {
                    font-size: 200%;
                }

                p {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .project__image {
                transform: translateX(-30%);
                opacity: 0;
                width: 40%;
                transition: all 1s ease-in;


                &.active {
                    transform: translateX(0);
                    opacity: 1;
                }

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 80%;
                    height: auto;
                }

                @media only screen and (max-width: 576px) {
                    .cinemapp {
                        width: 60%;
                        height: 150px;
                    }
                }
            }
        }

        .vector {
            z-index: -10;
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 23%;

            &--inversed {
                left: 70%;
            }
        }

        @media only screen and (max-width: 576px) {
            margin-bottom: 50px;
            display: flex;
            justify-content: center;

            .project__image {
                width: 100%;
                display: flex;
                justify-content: center;
                transform: translateY(30%);
                opacity: 0;

                img {
                    width: 80%;
                    height: 150px;
                }
            }

            .project__info {
                transform: translateY(30%);
                opacity: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0px;
                text-align: center;

                p {
                    font-size: 12px;
                }

                h2 {
                    font-size: 20px;
                }

                .project__button {
                    padding: 4px 8px;
                    font-size: 12px;

                    p {
                        color: black;
                    }
                }
            }
        }

        @media only screen and (min-width: 577px) and (max-width: 992px) {
            .project__image {
                width: 100%;

                img {
                    width: 100%
                }
            }

            .project__info {

                width: 100%;



            }

            .image_half {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media only screen and (min-width: 993px) {
            .project__image {
                width: 100%;
            }

            .project__info {
                width: 100%;


            }

            .image_half {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }



    }


}