.skillcard {
	box-sizing: content-box;
	width: 24%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10px;
	// border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 200px;
	padding: 20px;
	background-color: white;

	&__title {
		font-family: Roboto Slab;
		font-size: 20px;
		color: #6a6a6a;
		text-align: center;
	}

	&__content {
		// width: 100%;
		font-size: 14px;
		text-align: center;
		font-weight: 400;
	}

	&__label {
		width: 12%;
		position: absolute;
		top: 20%;
		left: -4%;
	}
}