.skillcard {
    width: 25%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px 100px / 120px;
    // border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    padding: 20px;
    background-color: white;

    &__title {
        font-family: Roboto Slab;
        font-size: 32px;
        color: #6A6A6A;
    }

    &__content {
        width: 70%;
        font-size: 24px;
        text-align: center;
    }

    &__label {
        width: 15%;
        position: absolute;
        top: 20%;
        left: -4%;
    }

}