.topNavbar {

	z-index: 10000;
	height: 40px;
	position: absolute;
	top: 0;
	width: 100%;
	$self: &;
	display: flex;
	justify-content: space-between;
	// padding: 50px;
	transition: all 1s ease-in-out;

	background-color: rgba(255, 255, 255, 0);
	// background-color: #4BCAC3;
	// background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(76, 119, 177, 1) 2%, rgba(0, 255, 184, 1) 100%);
	// background: linear-gradient(90deg, rgba(76, 169, 177, 1) 0%, rgba(0, 255, 184, 1) 100%);

	&.active {
		transition: all 1s ease-in-out;
		background: linear-gradient(90deg, rgba(76, 169, 177, 1) 0%, rgba(0, 255, 184, 1) 100%);
	}

	&__actions {
		width: 100%;
		display: flex;
		justify-content: space-around;
		list-style-type: none;

		font-weight: 600;
		margin: 0;
		padding: 0;

		.topNavbar__item {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 20px;
				margin-right: 3px;
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat';
		font-size: 16px;
		color: white;
		cursor: pointer;
		font-weight: 600;
		margin: 0px;
	}

	@media only screen and (max-width: 576px) {
		&__link {

			font-size: 12px;

		}
	}
}